---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="hero">
    <p class="eyebrow">Melville Projects</p>
    <h1>+ agency <br>through coordination & cooperation </h1>
    <p class="lede">
      A small independent consulting space for purpose driven organisations, aiming at international cooperation for systemic change in Europe through digital transformation
    </p>
  </section>
</BaseLayout>