---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="hero">
    <p class="eyebrow">Melville Projects</p>
    <h1>+ agency <br>via coordination & cooperation </h1>
    <p class="lede">
      Melville is a Berlin-based small independent consulting space for organisations aiming at international cooperation for systemic change in Europe through digital transformation, cultural change and bottom-up coordination
    </p>
  </section>
</BaseLayout>